<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".js"/>
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".js" mimeType="application/javascript"/>
      <mimeMap fileExtension=".css" mimeType="text/css"/>
    </staticContent>
  </system.webServer>
</configuration>
